
body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4em;
	font-size: 1.4em;
	background-color: #FEFEFE;
}

h1 {
	color: #11506f;	
	font-size: 30px;
}

h2 {
	color: #11506f;
}

p {
	padding-bottom: 8px;
	line-height: 1.6em;
}


.header{
	background-color: #EEE8EF;
	padding-top: 10px;
	border-bottom: 1px solid #cec9c4;
	height: 100px;
}


.header h1 {
	color: #11506f;
	font-family: 'Lato', sans-serif;
	margin-left: 0px;
	margin-bottom: 0px;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
}

.header p {
	color: #555;
	margin-bottom: 0px;
	font-size: 15px;
}

.header-links{
	padding-top: 30px;
}

.header-links a{
	color: #11506f;
	padding-top: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	line-height: 1.3em;
	font-weight: 450;
}


.navbar {
}

.navbar-default {
	background-color: #EEE8EF;
}

/* collapsed-nav-bar */
.navbar-default .navbar-nav > li > a {
	color: #11506f;	
}

.navbar-default .navbar-toggle {
	border-color: #11506f;
	margin-top: 20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{	
	border-width: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #11506f;
}


.header-links a.active{
	border-bottom: 3px solid #11506f;
}

.navlinks {
	margin-left: 15px;
	padding-top: 20px;
}

.navlinks a{
	margin-right: 0px;
}

.navbar-addr {
	padding-top: 30px;
	height: 35px;
}

.navbar-links {
	min-height: 60px;
}

.content {
	min-height: 500px;
	padding: 20px;
}

.content a {
	color: #11506f;
	font-weight: 600;
}

.content p {
	margin-bottom: 18px;
}

.content h2 {
	color: #11506f;
	margin-left: 0px;
	margin-top: 30px;
	line-height: 1.3em;
	font-size: 20px;
	font-weight: 500;
}

.content h3 {
	color: #11506f;
	line-height: 1.3em;
	font-size: 16px;	
	font-weight: 800;
	margin-top: 30px;
}

.content input {
	border-color: #E9DEEB;	
	border-radius: 0px;
}

.content textarea {
	border-color: #E9DEEB;	
	border-radius: 0px;
}

.content button {
	color: WHITE;
	background-color: #E6048C;
	border-color: #FEEFF8;
	border-radius: 20px;
	padding-left: 18px;
	padding-right: 18px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	font-size: 16px;
	font-weight: 600;
}

.page-heading {
	/* text-align: center; */
}

a.btn.btn-default {
	color: WHITE;
	background-color: #E6048C;
	border-color: #FEEFF8;
	border-radius: 20px;
	padding-left: 18px;
	padding-right: 18px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	font-size: 16px;
	font-weight: 600;
}


.content ul li {
	padding-top: 5px;
	
}

/* footer */
.footer{
	background-color: #EEE8EF;	
	min-height: 200px;	
	padding-top: 10px;
	border-top: 1px solid #cec9c4;
}

.footer p{
	font-size: 0.8em;
}

.footer h6{
	font-weight: 800;
	text-transform: uppercase;
}

.footer-links{
	padding-top: 40px;
}

.footer-links a{
	color: #11506f;	
	padding-top: 20px;
	padding-bottom: 5px;
	text-transform: uppercase;
	line-height: 1.3em;
}

.footer-links a.active{
	border-bottom: 3px solid #11506f;
}


.footer-addr{
	color: #11506f;	
	margin-top: -5px;
	font-size: 12px;
}

.footer-copyright{
	padding-top: 0px;
	padding-bottom: 10px;
}

.links {
	
}

/* xs */
@media (min-width: 300px) {
	.header-links a{
		margin-right: 15px;
		font-size: 32x;
	}
    .footer-links a{
		margin-right: 10px;
		font-size: 26x;
    }
}

/* sm */
@media (min-width: 768px) {
	.header-links a{
		margin-right: 15px;
		font-size: 32x;
	}
    .footer-links a{
		margin-right: 15px;
		font-size: 26x;
    }
}
/* md */
@media (min-width: 992px) {
	.header-links a{
		margin-right: 16px;
		font-size: 18px;
	}
    .footer-links a{		
		font-size: 16px;
    }
}
/* lg */
@media (min-width: 1200px) {
	.header-links a{
		margin-right: 20px;
		font-size: 18px;
	}
    .footer-links a{
		font-size: 16px;
		margin-right: 15px;
    }
}
